Repository TokenySolutions/T-REX, pull requests merged in 2020-03, with the labels that each got.

#51 External owner manager
  contracts/compliance/DefaultCompliance.sol
  contracts/compliance/ICompliance.sol
  contracts/compliance/LimitHolder.sol
  contracts/registry/ClaimTopicsRegistry.sol
  contracts/registry/IClaimTopicsRegistry.sol
  contracts/registry/IIdentityRegistry.sol
  contracts/registry/ITrustedIssuersRegistry.sol
  contracts/registry/IdentityRegistry.sol
  contracts/registry/TrustedIssuersRegistry.sol
  contracts/roles/AgentManager.sol
  contracts/roles/OwnerManager.sol
  contracts/roles/OwnerRoles.sol
  contracts/token/IToken.sol
  contracts/token/Token.sol
  test/agentManager.test.js
  test/ownerManager.test.js
  test/registry.test.js
  test/tokenTransfer.test.js
Labels: new contracts

#49 new contracts : AgentManager and OwnerManager
  contracts/compliance/DefaultCompliance.sol
  contracts/compliance/ICompliance.sol
  contracts/compliance/LimitHolder.sol
  contracts/registry/ClaimTopicsRegistry.sol
  contracts/registry/IClaimTopicsRegistry.sol
  contracts/registry/IIdentityRegistry.sol
  contracts/registry/ITrustedIssuersRegistry.sol
  contracts/registry/IdentityRegistry.sol
  contracts/registry/TrustedIssuersRegistry.sol
  contracts/roles/AgentManager.sol
  contracts/roles/AgentRole.sol
  contracts/roles/AgentRoles.sol
  contracts/roles/OwnerManager.sol
  contracts/roles/OwnerRoles.sol
  contracts/token/IToken.sol
  contracts/token/Token.sol
  package.json
  test/agentManager.test.js
  test/compliance.test.js
  test/ownerManager.test.js
  test/registry.test.js
  test/tokenTransfer.test.js
Labels: new contracts

#59 BREAKING CHANGES : refactoring Issuers registry
  contracts/registry/ITrustedIssuersRegistry.sol
  contracts/registry/TrustedIssuersRegistry.sol
  contracts/roles/OwnerManager.sol
  test/agentManager.test.js
  test/compliance.test.js
  test/ownerManager.test.js
  test/registry.test.js
  test/tokenTransfer.test.js
Labels: breaking changes

#64 ➕() Import ownable and role as they were removed from OZ
  README.md
  contracts/compliance/DefaultCompliance.sol
  contracts/registry/ClaimTopicsRegistry.sol
  contracts/registry/IdentityRegistry.sol
  contracts/registry/TrustedIssuersRegistry.sol
  contracts/roles/AgentRole.sol
  contracts/roles/AgentRoles.sol
  contracts/roles/Ownable.sol
  contracts/roles/OwnerRoles.sol
  contracts/roles/Roles.sol
  package.json
  yarn.lock
Labels: bug
