Repository TokenySolutions/T-REX, pull requests merged in 2023-11, with the labels that each got.

#171 (DvA) Add DvA Transfer Manager
  CHANGELOG.md
  contracts/DVA/DVATransferManager.sol
  contracts/DVA/IDVATransferManager.sol
  index.d.ts
  index.js
  package.json
  test/dva.test.ts
Labels: new contracts, test coverage

#172 TREX gateway
  .eslintrc.json
  .solhint.json
  CHANGELOG.md
  contracts/factory/ITREXFactory.sol
  contracts/factory/ITREXGateway.sol
  contracts/factory/TREXFactory.sol
  contracts/factory/TREXGateway.sol
  index.d.ts
  index.js
  package-lock.json
  package.json
  test/agentRole.test.ts
  test/authorities/trex-implementation-authority.test.ts
  test/compliances/module-country-restrict.test.ts
  test/dvd.test.ts
  test/factory.test.ts
  test/fixtures/deploy-compliance.fixture.ts
  test/fixtures/deploy-full-suite.fixture.ts
  test/gateway.test.ts
  test/registries/identity-registry.test.ts
  test/registries/trusted-issuers-registry.test.ts
Labels: new contracts, breaking changes, test coverage

#178 Add typescript lint check on push
  .github/workflows/push_checking.yml
  CHANGELOG.md
  package-lock.json
  test/compliances/module-transfer-fees.test.ts
  test/compliances/module-transfer-restrict.test.ts
  test/dva.test.ts
Labels: enhancement, lint

#179 Update package version
  contracts/token/TokenStorage.sol
  package.json
Labels: version update

#165 V4.1.0
  .eslintrc.json
  .github/workflows/push_checking.yml
  .solhint.json
  CHANGELOG.md
  contracts/DVA/DVATransferManager.sol
  contracts/DVA/IDVATransferManager.sol
  contracts/compliance/modular/ModularCompliance.sol
  contracts/compliance/modular/modules/ConditionalTransferModule.sol
  contracts/compliance/modular/modules/CountryAllowModule.sol
  contracts/compliance/modular/modules/CountryRestrictModule.sol
  contracts/compliance/modular/modules/ExchangeMonthlyLimitsModule.sol
  contracts/compliance/modular/modules/IModule.sol
  contracts/compliance/modular/modules/MaxBalanceModule.sol
  contracts/compliance/modular/modules/SupplyLimitModule.sol
  contracts/compliance/modular/modules/TimeExchangeLimitsModule.sol
  contracts/compliance/modular/modules/TimeTransfersLimitsModule.sol
  contracts/compliance/modular/modules/TransferFeesModule.sol
  contracts/compliance/modular/modules/TransferRestrictModule.sol
  contracts/factory/ITREXFactory.sol
  contracts/factory/ITREXGateway.sol
  contracts/factory/TREXFactory.sol
  contracts/factory/TREXGateway.sol
  contracts/token/TokenStorage.sol
  hardhat.config.ts
  index.d.ts
  index.js
  package-lock.json
  package.json
  scripts/flatten.js
  test/agentRole.test.ts
  test/authorities/trex-implementation-authority.test.ts
  test/compliance.test.ts
  test/compliances/module-conditional-transfer.test.ts
  test/compliances/module-country-allow.test.ts
  test/compliances/module-country-restrict.test.ts
  test/compliances/module-exchange-monthly-limits.test.ts
  test/compliances/module-max-balance.test.ts
  test/compliances/module-supply-limit.test.ts
  test/compliances/module-time-exchange-limits.test.ts
  test/compliances/module-time-transfer-limits.test.ts
  test/compliances/module-transfer-fees.test.ts
  test/compliances/module-transfer-restrict.test.ts
  test/dva.test.ts
  test/dvd.test.ts
  test/factory.test.ts
  test/fixtures/deploy-compliance.fixture.ts
  test/fixtures/deploy-full-suite.fixture.ts
  test/gateway.test.ts
  test/registries/identity-registry.test.ts
  test/registries/trusted-issuers-registry.test.ts
Labels: enhancement, version update, new contracts, breaking changes, test coverage, lint
