Repository TokenySolutions/T-REX, pull requests merged in 2023-09, with the labels that each got.

#161 Add time transfer limits module
  contracts/compliance/modular/modules/AbstractModule.sol
  contracts/compliance/modular/modules/TimeTransfersLimitsModule.sol
  index.js
  test/compliances/module-time-transfer-limits.test.ts
Labels: enhancement, new contracts, test coverage

#160 (EML) Add exchange monthly limits compliance module
  contracts/compliance/modular/modules/ExchangeMonthlyLimitsModule.sol
  contracts/compliance/modular/modules/TimeExchangeLimitsModule.sol
  index.js
  test/compliances/module-exchange-monthly-limits.test.ts
  test/compliances/module-time-exchange-limits.test.ts
Labels: enhancement, new contracts, test coverage

#159 add MaxBalance Module
  contracts/compliance/modular/modules/MaxBalanceModule.sol
  index.js
  test/compliances/module-max-balance.test.ts
Labels: enhancement, version update, new contracts, test coverage

#167 ✨(modules) Add name to modules
  CHANGELOG.md
  contracts/compliance/modular/modules/ConditionalTransferModule.sol
  contracts/compliance/modular/modules/CountryAllowModule.sol
  contracts/compliance/modular/modules/CountryRestrictModule.sol
  contracts/compliance/modular/modules/ExchangeMonthlyLimitsModule.sol
  contracts/compliance/modular/modules/IModule.sol
  contracts/compliance/modular/modules/MaxBalanceModule.sol
  contracts/compliance/modular/modules/SupplyLimitModule.sol
  contracts/compliance/modular/modules/TimeExchangeLimitsModule.sol
  contracts/compliance/modular/modules/TimeTransfersLimitsModule.sol
  package-lock.json
  test/compliances/module-conditional-transfer.test.ts
  test/compliances/module-country-allow.test.ts
  test/compliances/module-country-restrict.test.ts
  test/compliances/module-exchange-monthly-limits.test.ts
  test/compliances/module-supply-limit.test.ts
  test/compliances/module-time-exchange-limits.test.ts
  test/compliances/module-time-transfer-limits.test.ts
Labels: enhancement
